/* Button */

.button{
    color: $primary-bg-color;
    background-color: $accent-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}